body {
    --mainColor: #b389cb;
    --mainColorDark: #8d4eb1;
}

.btn-primary {
    background-color: var(--mainColor);
    border: 0px;
}

.btn-primary:hover {
    background-color: var(--mainColorDark);
    border: 0px;
    transition-duration: 0.4s;
}

.btn-primary:focus {
    background-color: var(--mainColorDark);
    color: #ffffff;
    border: 0px;
}

  .survey-name {            
    font-size: 2vmin;
    font-weight: bold;
    color: var(--mainColor);
    padding: 1vmin;
  }

  .survey-func-btn {
    font-size: 2vmin;
    padding: 1vmin;
  }